:root {
  --main-header-color: #053225;
  --background-color: #fffbfe;
  --outline-color: #6d4c3d;
  --highlight-color: #ed7d3a;
  --accent-color: #a6a867;
}

App {
  background: var(--background-color) r;
}

/* Navbar */

.topNavAppBar {
  background: var(--main-header-color);
}

.navLink {
  text-decoration: none;
  color: inherit;
}

/* Homepage */

.homeContainer {
  margin-top: 5vh;
  border: 5px solid var(--outline-color);
  background-color: var(--accent-color);
}
